.stepperContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.stepContent {
  margin-top: 20px;
  width: 100%;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}
  