.card {
    width: 100%;
    height: auto;
    padding: 30px;
    background-color: #F6F6F6;
    border-radius: 0.9375rem; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    transition: all 0.3s ease;
    width: 100%;
    flex: 1;

    @media (max-width: 48rem) {
        padding: 1.40625rem 0.5859375rem;
    }

    @media (max-width: 30rem) {
        padding: 0.625rem 0.390625rem;
        border-radius: 0.625rem; 
    }
}

.icon {
    width: auto;
    height: 30px;
    object-fit: contain;
}

.title {
    color: #212C3F;
    margin-top: 0.625rem;
}
