.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);  
  animation: fadeIn 0.3s ease;
}
  
.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
  padding: 1.25rem;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 125.1875rem;
  height: 90%;
  max-height: 120.4375rem;
  animation: slideUp 0.3s ease;
}
  
.title {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.85rem;
  text-align: center;
  color: #F6F6F6;
  margin-top: 7rem;
}

.description {
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 3.85rem;
  letter-spacing: -0.02em;
  text-align: center;
  color: #F6F6F6;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.closeButton {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #fff; 
  width: 2.8125rem;
  height: 2.8125rem;
}
  
.body {
  font-size: 1rem;
  color: #fff; 
}
  
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from { transform: translate(-50%, -40%); }
  to { transform: translate(-50%, -50%); }
}
